<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mi Carrito</title>
  <link rel="stylesheet" href="/styles.css" />
  <style>
    body { font-family: Arial; padding: 20px; }
    .producto { background: white; padding: 15px; margin-bottom: 15px; border-radius: 5px; }
    .btn { padding: 8px 12px; background: #0d6efd; color: white; border-radius: 4px; text-decoration: none; border: none; cursor: pointer; }
    .btn-danger { background: #dc3545; }
  </style>
</head>

<body>
    <h1>Mi carrito</h1>
        <a href="/">← Volver al catálogo</a>

        <hr><br>

        <% if (carrito.items.length === 0) { %>
            <p>Tu carrito está vacío.</p>
        <% } %>

        <a href="/compras/historial">Ver mi historial de compras</a>

        <% carrito.items.forEach(item => { %>
            <div class="producto">
                <h3><%= item.producto.nombre %></h3>
                <p>Precio: $<%= item.producto.precio %></p>

                <form action="/carrito/actualizar/<%= item.id %>" method="POST">
                <label>Cantidad:</label>
                <input 
                    type="number" 
                    name="cantidad" 
                    value="<%= item.cantidad %>"
                    min="1"
                    max="<%= item.producto.stock %>"
                >
                <button class="btn">Actualizar</button>
                </form>
                <% if (item.cantidad >= item.producto.stock) { %>
                <p style="color:red; margin-top:5px;">
                    Alcanzaste el stock máximo disponible.
                </p>
                <% } %>

                <form action="/carrito/eliminar/<%= item.id %>" method="POST">
                <button class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        <% }) %>

        <% if (carrito.items.length > 0) { %>
            <form action="/carrito/confirmar" method="POST">
                <button class="btn">Confirmar compra</button>
            </form>
        <% } %>

        <script>
            document.querySelectorAll("input[name='cantidad']").forEach(input => {
                input.addEventListener("input", () => {
                const max = parseInt(input.max);
                if (parseInt(input.value) > max) {
                    input.value = max;
                    showToast("No puedes superar el stock disponible");
                }
                });
            });
        </script>

</body>
</html>